*.pdf
**/README.txt

####################
# QTCreator ignores
*.pro
*/Project-1/*.user
*.pro.user
# ignores all directories that start with "Build" or "build"
*/[Bb]uild*/


###################
# Visual Studio directory ignores
**/__pycache__/
**/.vs/
**/x64/

##################
# Visual Studio file extension ignores
*.pyproj
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user
*.sln


##################
#Krita ignores
*.kra
*.kra~

##################
# Python ignores
*/env]/Lib/

